* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/2.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    border-radius: 50%;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover {
    box-shadow: 0 2px white;
    transition: 1sn;
}

.myClass {
    position: absolute;
    top: 95%;
    font-size: xx-small;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 65px;
}

.content p {
    margin: 20px auto;
}

button {
    width: 200px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(120, 39, 187, 0.801);
    font-size: 17px;
    border-color: rgb(240, 240, 240);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    color: rgba(0, 0, 0, 0.936);
    transition: 2sn;
}