* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.banner {
    height: 120vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.navbar {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    border-radius: 50%;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover {
    box-shadow: 0 2px white;
    transition: 1sn;
}

.content {
    width: 80%;
    position: absolute;
    top: 30%;
    color: white;
    text-align: left;
    transform: translateX(17%);
    display: inline-block;
}

.content h1 {
    font-size: 50px;
    padding-bottom: 2rem;
    word-spacing: 0.5rem;
    transform: translateX(5%);
    background-color: rgba(98, 31, 152, 0.801);
    width: 50px;
}

.contentproject {
    display: block;
}

.content ul li {
    margin: 20px auto;
    padding-bottom: 1rem;
    border-radius: 10px;
}

/* .content ul li button {
    font-size: xx-small;
    padding: 3px;
    border-radius: 4px;
    background-color:#fff;
    border: 2px white; */

.content ul li button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffff;
    border: none;
    color: black;
    text-align: center;
    font-size: x-small;
    width: 5rem;
    padding: 2px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    
}

.content ul li button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.content ul li button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.content ul li button:hover span {
    padding-right: 20px;
    
}

.content ul li button:hover span:after {
    opacity: 1;
    right: 0;
}

.content ul li dt {
    padding-bottom: 0.2rem;
}

.content ul li dd {
    margin: 11px auto;
    padding-bottom: 0.2rem;
    border-radius: 10px;
    font-size: small;
    transform: translateX(0.8rem);
}

.content ul li dt button  {
    width: 1.5rem;
}

.btn:hover {
    background-color: #3e8e41;
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

